body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('background.jpg');
    /* 替换为您的图片文件名 */
    background-size: cover;
    /* 覆盖整个页面 */
    background-position: center;
    /* 居中显示 */
    background-repeat: no-repeat;
    /* 不重复背景图片 */
}

/* zzz.css */

h1 {
    color: rgb(0, 128, 113);
}

p {
    color: rgb(23, 0, 128);
}

/* zzz.css */
img {
    width: 400px;
    /* 设置图片宽度为300像素 */
    height: 500px;
    /* 设置图片高度为200像素 */
}
